@using Web.WMS.Common;
@model BILWeb.PickRule.T_PickRuleInfo

@{
    ViewBag.Title = "拣货分配规则";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var strMsg = (string)ViewData["strMsg"];
}

@using (Html.BeginForm("Add", "SystemSet"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <table style="width:100%;margin:auto;" class="table table-bordered table-striped ">
        <tr>
            <td style="width:50%">
                <div class="form-group">
                    @Html.LabelFor(model => model.MaterialClassName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("MaterialClassCode", Commom.GetList("cbxMaterialClass") as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaterialClassCode, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.PickRuleName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PickRuleCode", Commom.GetList("cbxPickRule") as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PickRuleCode, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StrStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("Status", Commom.GetList("cbxWarehouseStatus") as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" style="width:50%">
                        @Html.EditorFor(model => model.PickRuleName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PickRuleName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <div class="form-group  col-md-10" style="padding-top:35px;">
        <div class="col-md-offset-1 col-md-10">
            <input id="form1" type="submit" value="提 交" class="btn btn-primary pull-left" style="width:100px" />
        </div>
    </div>
</div>
}

@{Html.RenderAction("ErrorMsg", strMsg);}

