@using BILBasic.Common;
@using BILWeb.PickRule;
@model T_PickRuleInfo
@{
    ViewBag.Title = "拣货规则总览";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageData<T_PickRuleInfo> pageData = (PageData<T_PickRuleInfo>)ViewData["PageData"];
}

<body class="skin-blue">
    @{Html.RenderPartial("~/Views/Shared/_ViewButtom.cshtml");}
    <div class="box">
        <form action="/PickRule/GetModelList" class="text-right" method="post">
            <div class="box-header">
                <div class="box-tools">
                    <div class="input-group" style="float: right">
                        <label>物料类别：@Html.EditorFor(model => model.MaterialClassCode, new { htmlAttributes = new { @class = "input-sm pull-right" } })</label>
                        <label>规则名称：@Html.EditorFor(model => model.PickRuleName, new { htmlAttributes = new { @class = "input-sm  pull-right" } })</label>
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.MaterialClassCode)</th>
                        <th>@Html.DisplayNameFor(model => model.MaterialClassName)</th>
                        <th>@Html.DisplayNameFor(model => model.PickRuleName)</th>
                        <th>@Html.DisplayNameFor(model => model.StrStatus)</th>
                        <th>@Html.DisplayNameFor(model => model.Creater)</th>
                        <th>@Html.DisplayNameFor(model => model.CreateTime)</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (pageData.data != null)
                        {
                            foreach (T_PickRuleInfo row in pageData.data)
                            {
                                <tr>
                                    <td> @row.MaterialClassCode </td>
                                    <td> @row.MaterialClassName </td>
                                    <td> @row.PickRuleName </td>
                                    <td> @row.StrStatus </td>
                                    <td> @row.Creater </td>
                                    <td> @row.CreateTime </td>
                                    <td>@Html.ActionLink("编辑", "getmodel", "PickRule", new { ID = row.ID }, null)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" align="center"><b>无查询数据</b></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @{Html.RenderAction("PageView", pageData);}
        </div>
    </div>

</body>
<script src="~/Content/SCG/js/Common/Operate.js"></script>