@using BILBasic.Common;
@using Web.WMS.Common;
@using BILWeb.Query;
@model TaskTrans_Model
@{
    ViewBag.Title = "出入库明细";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    PageData<TaskTrans_Model> pageData = (PageData<TaskTrans_Model>)ViewData["PageData"];

}

<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <form action="/TaskTrans/GetModelList" method="post">
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.MATERIALNO, new { htmlAttributes = new { @class = "form-control", @placeholder = "物料号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.SERIALNO, new { htmlAttributes = new { @class = "form-control", @placeholder = "序列号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.StrongHoldCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "据点" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.SupPrdBatch, new { htmlAttributes = new { @class = "form-control", @placeholder = "批次号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.FROMWAREHOUSENO, new { htmlAttributes = new { @class = "form-control", @placeholder = "仓库" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.FROMHOUSENO, new { htmlAttributes = new { @class = "form-control", @placeholder = "库区" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.FROMAREANO, new { htmlAttributes = new { @class = "form-control", @placeholder = "库位" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.ERPVOUCHERNO, new { htmlAttributes = new { @class = "form-control", @placeholder = "ERP单号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.begintime, new { htmlAttributes = new { @class = "form-control laydateX", @placeholder = "开始时间" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.endtime, new { htmlAttributes = new { @class = "form-control laydateY", @placeholder = "结束时间" } })
            </div>

            <div class="layui-inline layui-show-xs-block">
                @Html.DropDownList("TASKTYPE", Commom.TaskTypeList as IEnumerable<SelectListItem>, new { htmlAttributes = new { htmlAttributes = new { @class = "form-control " } } })

            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.DropDownList("VOUCHERTYPE", Commom.GetList("cbxVoucherName") as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control " } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                <button type="submit" class="btn btn-primary" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </div>
        </form>

        @{Html.RenderPartial("~/Views/Shared/_ViewButtom.cshtml");}
        <table class="layui-table layui-form">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.XH)</th>
                    <th>@Html.DisplayNameFor(model => model.ERPVOUCHERNO)</th>
                    <th>@Html.DisplayNameFor(model => model.StrongHoldCode)</th>
                    <th>@Html.DisplayNameFor(model => model.MATERIALNO)</th>
                    <th>@Html.DisplayNameFor(model => model.MATERIALDESC)</th>
                    <th>@Html.DisplayNameFor(model => model.SERIALNO)</th>
                    <th>@Html.DisplayNameFor(model => model.QTY)</th>
                    @*<th>@Html.DisplayNameFor(model => model.itemqty)</th>*@
                    @*<th>@Html.DisplayNameFor(model => model.UNIT)</th>*@
                    @*<th>@Html.DisplayNameFor(model => model.ROWNO)</th>
        <th>@Html.DisplayNameFor(model => model.ROWNODEL)</th>*@
                    <th>@Html.DisplayNameFor(model => model.BATCHNO)</th>
                    <th>@Html.DisplayNameFor(model => model.FROMWAREHOUSENO)</th>
                    <th>@Html.DisplayNameFor(model => model.FROMHOUSENO)</th>
                    <th>@Html.DisplayNameFor(model => model.FROMAREANO)</th>
                    <th>@Html.DisplayNameFor(model => model.TOWAREHOUSENO)</th>
                    <th>@Html.DisplayNameFor(model => model.TOHOUSENO)</th>
                    <th>@Html.DisplayNameFor(model => model.TOAREANO)</th>
                    <th>@Html.DisplayNameFor(model => model.StatusName)</th>
                    <th>@Html.DisplayNameFor(model => model.TASKNO)</th>
                    <th>@Html.DisplayNameFor(model => model.tasktypename)</th>
                    @*<th>@Html.DisplayNameFor(model => model.VOUCHERTYPE)</th>*@
                    <th>@Html.DisplayNameFor(model => model.CREATETIME)</th>
                    <th>@Html.DisplayNameFor(model => model.CREATER)</th>
                     <th>@Html.DisplayNameFor(model => model.CREATER)</th>
                    TracNo
                </tr>
            </thead>
            <tbody>
                @{
                    if (pageData.data != null && pageData.data.Count != 0)
                    {
                        foreach (TaskTrans_Model Row in pageData.data)
                        {
                                <tr>
                                    <td>@Row.XH</td>
                                    <td>@Row.ERPVOUCHERNO</td>
                                    <td>@Row.StrongHoldCode</td>
                                    <td>@Row.MATERIALNO</td>
                                    <td>@Row.MATERIALDESC</td>
                                    <td>@Row.SERIALNO</td>
                                    <td>@Row.QTY</td>
                                    @*<td>@Row.itemqty</td>*@
                                    @*<td>@Row.UNIT</td>*@
                                    @*<td>@Row.ROWNO</td>
        <td>@Row.ROWNODEL</td>*@
                                    <td>@Row.BATCHNO</td>
                                    <td>@Row.FROMWAREHOUSENO</td>
                                    <td>@Row.FROMHOUSENO</td>
                                    <td>@Row.FROMAREANO</td>
                                    <td>@Row.TOWAREHOUSENO</td>
                                    <td>@Row.TOHOUSENO</td>
                                    <td>@Row.TOAREANO</td>
                                    <td>@Row.StatusName</td>
                                    <td>@Row.TASKNO</td>
                                    <td>@Row.tasktypename</td>
                                    @*<td>@Row.VOUCHERTYPE</td>*@
                                    <td>@Row.CREATETIME</td>
                                    <td>@Row.CREATER</td>
                                </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="22" align="center"><b>无查询数据</b></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @{Html.RenderAction("PageView", pageData);}
    </div>
</div>

<script src="~/Content/SCG/js/TaskTrans/TaskTrans.js"></script>