@using BILBasic.Common;
@using BILWeb.Query;
@using Web.WMS.Common;
@model CheckAnalyze
@{
    ViewBag.Title = "盈亏分析";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    PageData<CheckAnalyze> pageData = (PageData<CheckAnalyze>)ViewData["PageData"];
    var BackgRed = "BackgRed";
    var Backgblue = "Backgblue";
}
    <style>
            .Backgblue {
        font-size: 23px;
        background-color: cornflowerblue;
    }

    .BackgRed {
        color: black;
        background-color: red;
    }

    </style>

<body>
    <div class="box">
        <div class="layui-card-body layui-table-body layui-table-main">
            <form action="/Check/CheckAnalyze" method="post">
                <div class="layui-card-body ">
                    <div class="layui-inline layui-show-xs-block">
                        @Html.EditorFor(model => model.CHECKNO, new { htmlAttributes = new { @class = "form-control", @placeholder = "盘点单号" } })
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        @Html.EditorFor(model => model.AREANO, new { htmlAttributes = new { @class = "form-control", @placeholder = "库位" } })
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        @Html.EditorFor(model => model.MATERIALNO, new { htmlAttributes = new { @class = "form-control", @placeholder = "物料编号" } })
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        @Html.DropDownList("remark", Commom.CheckAnalyzeStateList as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <button type="submit" class="btn btn-primary" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </form>
            <P>
                <button class="btn bg-olive margin tiaozheng" onclick="tiaozheng()">期初调整</button>
                @*<button class="btn bg-olive margin tiaozheng" onclick="tiaozheng_ms()">库存调整</button>*@
                @*<button class="btn bg-olive margin daochu" onclick="daochu()">导出</button>*@
                <a class="btn bg-olive margin daochu" href="/check/GetModellist">返回</a>
            </P>
            <table class="layui-table layui-form">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.remark)</th>
                        <th>@Html.DisplayNameFor(model => model.STRONGHOLDCODE)</th>
                        @*<th>@Html.DisplayNameFor(model => model.partno)</th>*@
                        <th>@Html.DisplayNameFor(model => model.MATERIALNO)</th>
                        <th>@Html.DisplayNameFor(model => model.MATERIALDESC)</th>
                        <th>@Html.DisplayNameFor(model => model.AREANO)</th>
                        <th>@Html.DisplayNameFor(model => model.SERIALNO)</th>
                        <th>@Html.DisplayNameFor(model => model.QTY)</th>
                        <th>@Html.DisplayNameFor(model => model.SQTY)</th>
                        <th>@Html.DisplayNameFor(model => model.SSERIALNO)</th>
                        <th>@Html.DisplayNameFor(model => model.SAREANO)</th>
                        <th>@Html.DisplayNameFor(model => model.SMATERIALNO)</th>
                        <th>@Html.DisplayNameFor(model => model.SMATERIALDESC)</th>
                        <th>@Html.DisplayNameFor(model => model.SSTRONGHOLDCODE)</th>
                        <th>@Html.DisplayNameFor(model => model.YQTY)</th>
                        <th>@Html.DisplayNameFor(model => model.KQTY)</th>
                        <th>@Html.DisplayNameFor(model => model.Creater)</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @{
                        if (pageData.data != null && pageData.data.Count != 0)
                        {
                            foreach (CheckAnalyze Row in pageData.data)
                            {
                                <tr>
                                    <td class="@if (Row.remark == "赢") {@BackgRed} else { if (Row.remark == "亏") {@Backgblue} } ">@Row.remark</td>
                                    <td>@Row.STRONGHOLDCODE</td>
                                    @*<td>@Row.partno</td>*@
                                    <td>@Row.MATERIALNO</td>
                                    <td>@Row.MATERIALDESC</td>
                                    <td>@Row.AREANO</td>
                                    <td>@Row.SERIALNO</td>
                                    <td>@Row.QTY</td>
                                    <td>@Row.SQTY</td>
                                    <td>@Row.SSERIALNO</td>
                                    <td>@Row.SAREANO</td>
                                    <td>@Row.SMATERIALNO</td>
                                    <td>@Row.SMATERIALDESC</td>
                                    <td>@Row.SSTRONGHOLDCODE</td>
                                    <td>@Row.YQTY</td>
                                    <td>@Row.KQTY</td>
                                    <td>@Row.Creater</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="17" align="center"><b>无数据</b></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @{Html.RenderAction("PageView", pageData);}
        </div>
    </div>
</body>


<script src="~/Content/SCG/js/Check/Check.js"></script>