@using BILBasic.Common;
@using BILWeb.Stock;
@model T_StockInfoEX
@{
    ViewBag.Title = "库存明细";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    PageData<T_StockInfoEX> pageData = (PageData<T_StockInfoEX>)ViewData["PageData"];
    var printIP = System.Web.HttpContext.Current.Session["printIP"];
}

    <input type="hidden" id="printIP" value="@printIP" />
<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <form action="/StockDetail/GetModelList" method="post">
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.MaterialNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "物料号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.MaterialDesc, new { htmlAttributes = new { @class = "form-control", @placeholder = "物料名" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.SerialNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "序列号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.StrongHoldCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "据点" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.BatchNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "批次号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.WarehouseNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "仓库号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.HouseNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "库区号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.AreaNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "货位号" } })
            </div>
            <div class="layui-inline layui-show-xs-block">
                @Html.EditorFor(model => model.PalletNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "托盘号" } })
            </div>

            <div class="layui-inline layui-show-xs-block">
                <button type="submit" class="btn btn-primary" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
            </div>
        </form>
        @{Html.RenderPartial("~/Views/Shared/_ViewButtom.cshtml");}
        <table class="layui-table layui-form">
            <thead>
                <tr>
                    <th>选择</th>
                    @*<th>@Html.DisplayNameFor(model => model.XH)</th>*@
                    @*<th>@Html.DisplayNameFor(model => model.StrongHoldCode)</th>*@
                    <th>@Html.DisplayNameFor(model => model.MaterialNo)</th>
                    <th>@Html.DisplayNameFor(model => model.MaterialDesc)</th>
                    @*<th>@Html.DisplayNameFor(model => model.StatusName)</th>*@
                    <th>@Html.DisplayNameFor(model => model.SerialNo)</th>
                    <th>@Html.DisplayNameFor(model => model.Qty)</th>
                    @*<th>@Html.DisplayNameFor(model => model.Unit)</th>*@
                    <th>@Html.DisplayNameFor(model => model.EAN)</th>
                    <th>@Html.DisplayNameFor(model => model.EDate)</th>
                    <th>@Html.DisplayNameFor(model => model.BatchNo)</th>
                    <th>@Html.DisplayNameFor(model => model.CreateTime)</th>
                    <th>@Html.DisplayNameFor(model => model.WarehouseNo)</th>
                    <th>@Html.DisplayNameFor(model => model.AreaNo)</th>
                    <th>@Html.DisplayNameFor(model => model.HouseNo)</th>
                    <th>@Html.DisplayNameFor(model => model.PalletNo)</th>
                    <th>@Html.DisplayNameFor(model => model.Barcode)</th>
                    <th>@Html.DisplayNameFor(model => model.StrIsAmount)</th>
                    
                </tr>
            </thead>
            <tbody>
                @{
                    if (pageData.data != null && pageData.data.Count != 0)
                    {
                        foreach (T_StockInfoEX Row in pageData.data)
                        {
                                <tr>

                                    <td>
                                        <label>
                                            <input type="checkbox" class="minimal" value="@Row.SerialNo" />
                                        </label>
                                    </td>
                                    @*<td>@Row.XH</td>*@
                                    @*<td>@Row.StrongHoldCode</td>*@
                                    <td>@Row.MaterialNo</td>
                                    <td>@Row.MaterialDesc</td>
                                    @*<td>@Row.StatusName</td>*@
                                    <td>@Row.SerialNo</td>
                                    <td>@Row.Qty</td>
                                    @*<td>@Row.Unit</td>*@
                                    <td>@Row.EAN</td>
                                    <td>@Row.EDate.ToString("yyyy/MM/dd")</td>
                                    <td>@Row.BatchNo</td>
                                    <td>@Row.CreateTime</td>
                                    <td>@Row.WarehouseNo</td>
                                    <td>@Row.AreaNo</td>
                                    <td>@Row.HouseNo</td>
                                    <td>@Row.PalletNo</td>
                                    <td>@Row.Barcode</td>
                                    <td>@Row.StrIsAmount</td>
                                    
                                </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="15" align="center"><b>无查询数据</b></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @{Html.RenderAction("PageView", pageData);}
    </div>
</div>



<script src="~/Content/SCG/js/StockDetail/StockDetail.js"></script>