@using BILBasic.Common;
@using BILWeb.DepInterface;
@model T_DepInterfaceInfo
@{
    ViewBag.Title = "ERP接口列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageData<T_DepInterfaceInfo> pageData = (PageData<T_DepInterfaceInfo>)ViewData["PageData"];
}

<body class="skin-blue">
    @{Html.RenderPartial("~/Views/Shared/_ViewButtom.cshtml");}
    <div class="box">
        <form action="/DepInterface/GetModelList" class="text-right" method="post">
            <div class="box-header">
                <div class="box-tools">
                    <div class="input-group" style="float: right">
                        <label>单据名称：@Html.EditorFor(model => model.StrVoucherName, new { htmlAttributes = new { @class = "input-sm pull-right" } })</label>
                        <label>单据类别：@Html.EditorFor(model => model.StrVoucherType, new { htmlAttributes = new { @class = "input-sm  pull-right" } })</label>
                        <label>功能：@Html.EditorFor(model => model.StrFunction, new { htmlAttributes = new { @class = "input-sm  pull-right" } })</label>
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- /.box-header -->
        <div class="box-body table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        @*<th>@Html.DisplayNameFor(model => model.VoucherName)</th>*@
                        <th>@Html.DisplayNameFor(model => model.VoucherType)</th>
                        <th>@Html.DisplayNameFor(model => model.StrFunction)</th>
                        <th>@Html.DisplayNameFor(model => model.DLLName)</th>
                        <th>@Html.DisplayNameFor(model => model.FunctionName)</th>
                        <th>@Html.DisplayNameFor(model => model.FunctionNote)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (pageData.data != null)
                        {
                            foreach (T_DepInterfaceInfo row in pageData.data)
                            {
                                <tr>
                                    @*<td> @row.VoucherName </td>*@
                                    <td> @row.VoucherType </td>
                                    <td> @row.StrFunction </td>
                                    <td> @row.DLLName </td>
                                    <td> @row.FunctionName </td>
                                    <td> @row.FunctionNote </td>
                                    <td>@Html.ActionLink("编辑", "getmodel", "DepInterface", new { ID = row.ID }, null)</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" align="center"><b>无查询数据</b></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @{Html.RenderAction("PageView", pageData);}
        </div>
    </div>

</body>
<script src="~/Content/SCG/js/Common/Operate.js"></script>