@using BILWeb.OutStock;
@using Web.WMS.Common;
@{
    ViewBag.Title = "装箱复核";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    T_OutStockInfo t_OutStockInfo = ViewData["t_OutStockInfo"] == null ? null : (T_OutStockInfo)ViewData["t_OutStockInfo"];
    var strError = (string)ViewData["strError"];
    var printIP = System.Web.HttpContext.Current.Session["printIP"];
    var BackgRed = "BackgRed";
    var Backgblue = "Backgblue";
    var BackGrey = "BackGrey";
    var BackYellowgreen = "BackYellowgreen";
}
<style>
    .layui-table th {
        font-size: 17px !important;
        color: black !important;
        font-weight: 600 !important;
    }

    .layui-table td {
        font-size: 17px !important;
        color: black !important;
        font-weight: 600 !important;
    }


    .ColorRed {
        font-size: 23px;
        color: red;
    }

    .Backgblue {
        font-size: 23px;
        background-color: cornflowerblue;
    }

    .BackgRed {
        color: black;
        background-color: red;
    }

    .BackGrey {
        font-size: 23px;
        background-color: gray;
    }

    .BackYellowgreen {
        font-size: 23px;
        background-color: yellowgreen;
    }
</style>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <div class="layui-input-inline layui-show-xs-block">
                        <input class="layui-input" placeholder="拣货车编号" name="cate_name" id="cate_name">
                    </div>
                    <div class="layui-input-inline layui-show-xs-block">
                        <input class="layui-input" placeholder="扫描标签" id="getbarcode">
                    </div>
                    <div class="layui-input-inline layui-show-xs-block">
                        <select id="materials" style="height:30px; display:none;font-weight:900;"></select>
                    </div>
                    <div class="layui-input-inline layui-show-xs-block">
                        <input class="layui-input" placeholder="数量" name="qty" id="qty" style="font-weight:900;">
                    </div>
                    <div class="layui-input-inline layui-show-xs-block">
                        <button class="layui-btn" id="printBox"><i class="layui-icon detail">+</i>装箱</button>
                    </div>
                    <div class="layui-input-inline layui-show-xs-block">
                        <button class="layui-btn" id="printAll">
                            装箱汇总
                        </button>
                    </div>
                    <div class="layui-input-inline layui-show-xs-block">
                        <button class="layui-btn" id="reviewpost">
                            复核过账
                        </button>
                    </div>
                    <div class="layui-input-inline layui-show-xs-block">
                        <button class="layui-btn" id="OutstockList">
                            发货清单
                        </button>
                    </div>
                    <div class="layui-input-inline layui-show-xs-block">
                        <input class="layui-input" placeholder="物流标签数量" id="BoxCount">
                    </div>
                    <div class="layui-input-inline layui-show-xs-block">
                        <button class="layui-btn" id="Logistics">
                            物流标签
                        </button>
                    </div>
                    <a title="详情" id="detail" data-toggle="modal" data-target="#compose-modal">
                        <i class="layui-icon">&#xe642;</i>
                    </a>

                </div>
                <audio autoplay="autoplay" id="auto" src=""></audio>
                <input type="button" value="点击播放" onclick="playSound('~/Content/error3.mp3')">

                <div class="layui-form-item">
                    <input id="headid" value="  @if (t_OutStockInfo != null)
                                                            {@t_OutStockInfo.ID}" type="hidden" />
                    <table class="layui-table layui-form">
                        <thead>
                            <tr>
                                <th>单据号</th>
                                <th>据点</th>
                                <th>客户名</th>
                                <th>单据类型</th>
                                <th>状态</th>
                                <th>发货</th>
                                <th>清单</th>
                                <th>要价</th>
                                <th>外调</th>
                                <th>人员</th>
                                <th>部门</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>
                                    <label id="ErpVoucherNo" class="ColorRed">
                                        @if (t_OutStockInfo != null)
                                        {@t_OutStockInfo.ErpVoucherNo}
                                    </label>
                                </td>
                                <td id="StrongHoldName">
                                    @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.StrongHoldName}
                                </td>
                                <td>
                                    @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.CustomerName}
                                </td>
                                <td>
                                    @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.StrVoucherType}
                                </td>
                                <td>
                                    <label class="ColorRed">
                                        @if (t_OutStockInfo != null)
                                        {@t_OutStockInfo.StrStatus}
                                    </label>
                                </td>
                                <td>
                                    @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.ShipNFlg}
                                </td>
                                <td>
                                    @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.ShipDFlg}
                                </td>
                                <td>
                                    @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.ShipPFlg}
                                </td>
                                <td>
                                    @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.ShipWFlg}
                                </td>
                                <td>
                                    @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.VouUser}
                                </td>
                                <td>
                                    @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.DepartmentName}
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <input type="hidden" id="vouchertype" value=" @if (t_OutStockInfo != null)
                                    {@t_OutStockInfo.VoucherType}" />
                    <div style="width:70%;float:left;">
                        <label style="font-size:16px;font-weight:600;">
                            备注：@if (t_OutStockInfo != null)
                            {@t_OutStockInfo.Note}
                        </label>
                    </div>
                    <div style="width:30%;float:left;">
                        <label style="font-size:16px;font-weight:600;">
                            交易条件：@if (t_OutStockInfo != null)
                            {@t_OutStockInfo.TradingConditionsName}
                        </label>
                    </div>
                    <div style="width:70%;float:left;">
                        <label style="font-size:16px; font-weight:600;">
                            发货地址：@if (t_OutStockInfo != null)
                            {@t_OutStockInfo.Address}
                        </label>
                    </div>
                    <div style="width:30%;float:left;">
                        <label style="font-size:16px; font-weight:600;">
                            联系人：@if (t_OutStockInfo != null)
                            {@t_OutStockInfo.Contact @t_OutStockInfo.Phone}
                        </label>
                    </div>
                    <div style="width:50%;float:left;">
                        <label style="font-size:16px; font-weight:600;">
                            物流地址：@if (t_OutStockInfo != null)
                            {@t_OutStockInfo.Address1}
                        </label>
                    </div>
                </div>

                <div class="layui-card-body ">
                    <table class="layui-table layui-form">
                        <thead>
                            <tr>
                                <th>任务属性</th>
                                <th>任务号</th>
                                <th>物料号</th>
                                <th>物料名</th>
                                <th>任务数</th>
                                <th>拣货数</th>
                                <th>复核数</th>
                                <th>未复核数</th>
                            </tr>
                        </thead>
                        <tbody id="detailTable">
                            @{
                                if (t_OutStockInfo != null && t_OutStockInfo.lstDetail != null && t_OutStockInfo.lstDetail.Count != 0)
                                {
                                    foreach (T_OutStockDetailInfo t_OutStockDetailInfo in t_OutStockInfo.lstDetail)
                                    {
                                        <tr class="@if (@t_OutStockDetailInfo.TaskQty > @t_OutStockDetailInfo.PickQty) {@BackGrey} else { if(@t_OutStockDetailInfo.OutStockQty > @t_OutStockDetailInfo.ReviewQty) {@Backgblue} else { @BackgRed}}  ">
                                            <td>@t_OutStockDetailInfo.StrHouseProp</td>
                                            <td>@t_OutStockDetailInfo.TaskNo</td>
                                            <td>@t_OutStockDetailInfo.MaterialNo</td>
                                            <td>@t_OutStockDetailInfo.MaterialDesc</td>
                                            <td>@t_OutStockDetailInfo.TaskQty</td>
                                            <td>@t_OutStockDetailInfo.PickQty</td>
                                            <td>@t_OutStockDetailInfo.ReviewQty</td>
                                            <td>@t_OutStockDetailInfo.UnReviewQty</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="13" align="center"><b>无查询数据</b></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:90%;">
        <div class="modal-content">
            <form action="#" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>物料名</th>
                                    <th>物料号</th>
                                    <th>数量</th>
                                </tr>
                            </thead>
                            <tbody id="detailTable1"></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer clearfix">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script>
    //**********************************快捷键****************************************
    // <font style='color:blue; background-color:yellow;'>快捷键</font>响应
    // targetObj: 目标对象，如果满足<font style='color:blue; background-color:yellow;'>快捷键</font>条件，触发目标对象的click事件
    // ctrlKey: 是否按住了Ctrl组合键
    // shiftKey: 是否按住了Shift组合键
    // altKey: 是否按住了Alt组合键
    // keycode: 按键对应的数值
    //function Hotkey(event, targetObj, ctrlKey, shiftKey, altKey, keycode) {
    //    if (targetObj
    //        && event.ctrlKey == ctrlKey
    //        && event.shiftKey == shiftKey
    //        && event.altKey == altKey
    //        && event.keyCode == keycode
    //    )
    //        targetObj.click();
    //}

    //function fnKeyup(event) {
    //    var b = document.getElementById("myButton");
    //    Hotkey(event, b, true, false, false, 13);
    //}

    //// 捕获系统的Keyup事件
    //// 如果是Mozilla系列浏览器
    //if (document.addEventListener)
    //    document.addEventListener("keyup", fnKeyup, true);
    //else
    //    document.attachEvent("onkeyup", fnKeyup);



    function playSound(src) {
            var auto = $("#auto");
            auto.attr("src", "http://data.huiyi8.com/2017/gha/03/17/1702.mp3");
        }




    window.onload = function () {
        if ($("#ErpVoucherNo").html().trim() == "") {
            $("#cate_name").focus();
        } else {
            $("#getbarcode").focus();
        }
    }

    var boxs = new Array();

    $('#cate_name').keydown(function (e) {
        if (e.keyCode == "13") {
            window.location = "/Review/Review?strCarNo=" + $("#cate_name").val().trim();
        }

    })


    $('#materials').on('change', function () {
        if ($(this).val() != "") {
            var selectText = $(this).find('option:selected').text();
            var index = selectText.split(":");
            var qty = index[1];
            $('#qty').val(qty);
        } else {
            $('#qty').val("");
        }
        $("#qty").focus();
        $("#qty").select();
    });


    $('#getbarcode').keydown(function (e) {

        $("#materials").css('display', 'none');
        if (e.keyCode == "13") {
            var index = layer.load(1);
            $.ajax({
                type: "Get",
                url: "/Review/getbarcode?Barcode=" + $("#getbarcode").val() + "&ErpVoucherNo=HM1-HH2-1908310001",
                data: null,
                success: function (msg) {
                    if (msg.state) {
                        //1:序列号 2：EAN
                        if (msg.type == "1") {
                            $("#detailTable tr").remove();
                            for (var i = 0; i < msg.obj.length; i++) {
                                var html = "";
                                if (msg.obj[i].TaskQty > msg.obj[i].PickQty) {
                                    html = "<tr class='BackGrey'>";
                                } else {
                                    if (msg.obj[i].OutStockQty > msg.obj[i].ReviewQty) {
                                        html = "<tr class='Backgblue'>";
                                    } else {
                                        html = "<tr class='BackgRed'>";
                                    }
                                }
                                html += "<td>" + msg.obj[i].StrHouseProp + "</td>"
                                html += "<td>" + msg.obj[i].TaskNo + "</td>"
                                html += "<td>" + msg.obj[i].MaterialNo + "</td>"
                                html += "<td>" + msg.obj[i].MaterialDesc + "</td>"
                                html += "<td>" + msg.obj[i].TaskQty + "</td>"
                                html += "<td>" + msg.obj[i].PickQty + "</td>"
                                html += "<td>" + msg.obj[i].ReviewQty + "</td>"
                                html += "<td>" + msg.obj[i].UnReviewQty + "</td>"
                                html += "</tr>";
                                $("#detailTable").append(html);
                            }
                            $("#getbarcode").select();
                        }
                        else {
                            $("#materials").css('display', 'block');
                            $("#materials").empty();
                            var selDom = $("#materials");
                            if (msg.obj.length > 1) {
                                $("#detailTable1").html("");
                                for (var j = 0; j < msg.obj.length; j++) {
                                    var html = "<tr class='detailTable1tr'>";
                                    html += "<td>" + msg.obj[j].MaterialDesc + "</td>"
                                    html += "<td>" + msg.obj[j].MaterialNo + "</td>"
                                    html += "<td>" + msg.obj[j].Qty + "</td>"
                                    html += "</tr>";
                                    $("#detailTable1").append(html);
                                }







                                $("#detail").click();
                                selDom.append("<option value=''>--------请先选择--------</option>");//添加option
                                for (var i = 0; i < msg.obj.length; i++) {
                                    var material = "";
                                    if (msg.obj[i].MaterialDesc.length < 15) {
                                        material = msg.obj[i].MaterialDesc;
                                    } else {
                                        material = msg.obj[i].MaterialDesc.substring(0, 15);
                                    }
                                    selDom.append("<option value='" + msg.obj[i].MaterialNoID + "'>" + material + "," + msg.obj[i].MaterialNo + ",数量:" + msg.obj[i].Qty + "</option>");//添加option
                                }
                                $("#materials").focus();
                                $("#qty").val("");
                            } else {
                                $("#qty").val(msg.obj[0].Qty);
                                $("#qty").focus();
                                $("#qty").select();
                            }
                        }
                    }
                    else {
                        alert(msg.obj);
                    }
                    layer.close(index);
                },
                fail: function () {
                    alert("提交失败！")
                    layer.close(index);
                }
            });
        }
        if (e.keyCode == "37") {//"左箭头" 装箱
            $('#printBox').click();
        }
        if (e.keyCode == "40") {//"下箭头" 装箱汇总
            $('#printAll').click();
        }
        if (e.keyCode == "39") {//"右箭头" 复核
            $('#reviewpost').click();
        }
        if (e.keyCode == "38") {//"上箭头" 发货清单
            $('#OutstockList').click();
        }
    })

    //function aaa(obj) {
    //    alert(1);
    //    $(obj).css({'border':'5px solid red'});
    //}

    //$('.detailTable1tr').click(function () {
    //    $(this).css({'border':'5px solid red'});

    //})


    $(".detailTable1tr").keydown(function (event) {

        alert(1);
        if (event.keyCode == 13) {

            alert('你按下了Enter');

        }

    });



    //$('.detailTable1tr').click(function () {
    //    alert(1);
    //    this.css("background-color", "#e5e5e5").siblings().css("background-color", "#FFFFFF");

    //})

    //$('.detailTable1tr td').click(function () {
    //    alert(1);
    //    this.css("background-color", "#e5e5e5").siblings().css("background-color", "#FFFFFF");

    //})

    //$('.detailTable1tr').keydown(function (e) {
    //    alert(1);
    //    if (e.keyCode == "13") {
    //        this.css("background-color", "#e5e5e5").siblings().css("background-color", "#FFFFFF");
    //    }
    //})


    $('#qty').keydown(function (e) {
        try {
            if (e.keyCode == "13") {
                //判断数量是否超过选的条码
                var materialnoid = $("#materials").find('option:selected').val();
                var oldqty = $("#materials").find('option:selected').text().split(":")[1];
                if (parseFloat($("#qty").val()) > parseFloat(oldqty)) {
                    alert("数量不能超过标签的数量");
                    return;
                }

                var index = layer.load(1);
                $.ajax({
                    type: "Get",
                    url: "/Review/scanEAN?Barcode=" + $("#getbarcode").val() + "&ErpVoucherNo=" + $("#ErpVoucherNo").html().trim() + "&ScanQty=" + $("#qty").val().trim() + "&MaterialNoID=" + materialnoid,
                    data: null,
                    success: function (data) {
                        if (data.state) {
                            $("#detailTable tr").remove();
                            var flag = 1;
                            for (var i = 0; i < data.obj.length; i++) {
                                var html = "";
                                if (msg.obj[i].TaskQty > msg.obj[i].PickQty) {
                                    html = "<tr class='BackGrey'>";
                                } else {
                                    if (msg.obj[i].OutStockQty > msg.obj[i].ReviewQty) {
                                        html = "<tr class='Backgblue'>";
                                    } else {
                                        html = "<tr class='BackgRed'>";
                                    }
                                }
                                html += "<td>" + data.obj[i].StrHouseProp + "</td>"
                                html += "<td>" + data.obj[i].TaskNo + "</td>"
                                html += "<td>" + data.obj[i].MaterialNo + "</td>"
                                html += "<td>" + data.obj[i].MaterialDesc + "</td>"
                                html += "<td>" + data.obj[i].TaskQty + "</td>"
                                html += "<td>" + data.obj[i].PickQty + "</td>"
                                html += "<td>" + data.obj[i].ReviewQty + "</td>"
                                html += "<td>" + data.obj[i].UnReviewQty + "</td>"
                                html += "</tr>";
                                $("#detailTable").append(html);
                                if (data.obj[i].UnReviewQty != "0") {
                                    flag = 2;
                                }
                            }
                            $("#getbarcode").val("");
                            $("#qty").val("");
                            $("#getbarcode").focus();
                            if (flag == 1) {
                                //全部拣货完成刷新页面
                                window.location.reload();
                            }

                        } else {
                            alert(data.obj);
                        }
                        $("#materials").css('display', 'none');
                        layer.close(index);

                    },
                    fail: function () {
                        alert("提交失败！");
                        layer.close(index);
                    }
                });
            }
        } catch (err) {
            alert(err);
        }

    })

    //**********************************装箱****************************************
    $('#printBox').click(function () {
        window.open($("#printIP").val() + "Main.aspx?flag=Box&parameter1=" + $("#UserName").val().trim() + "&parameter2=" + $("#ErpVoucherNo").html().trim());
    })


    //**********************************发货清单****************************************
    $('#OutstockList').click(function () {
        //调拨出库单  23
        //杂项发货单 29
        //销售发货单 24
        //采购退货单  21
        var strtype = "";
        if ($("#vouchertype").val().trim() == "23") {
            strtype = "DBOutList";
        }
        if ($("#vouchertype").val().trim() == "24" && $("#StrongHoldName").html().trim() == "菲扬") {
            strtype = "FYSaleOutOutList";
        }
        if ($("#vouchertype").val().trim() == "24" && $("#StrongHoldName").html().trim() == "禾木") {
            strtype = "HMSaleOutOutList";
        }
        if ($("#vouchertype").val().trim() == "29") {
            strtype = "OutList";
        }
        if ($("#vouchertype").val().trim() == "21") {
            strtype = "WarehouseOutList";
        }

        if (strtype == "" || $("#ErpVoucherNo").html().trim() == "") {
            alert("单据类型不能为空");
            return;
        }
        window.open($("#printIP").val() + "Main.aspx?flag=" + strtype + "&parameter1=" + $("#ErpVoucherNo").html().trim());
    })


    //**********************************装箱清单汇总****************************************
    $('#printAll').click(function () {
        window.open($("#printIP").val() + "Main.aspx?flag=BoxList&parameter1=" + $("#ErpVoucherNo").html().trim());
    })


    //**********************************物流标签****************************************
    $('#Logistics').click(function () {
        $("#detail").click();
    })

    $('#BoxCount').click(function () {
        if (e.keyCode == "13") {
            $('#Logistics').click();
        }
    })



    //**********************************复核****************************************
    $('#reviewpost').click(function () {
        //var Message = "复核全部结束，是否确认复核该单据？";
        var flag = "1";
        $("#detailTable").find("tr").each(function () {
            var tdArr = $(this).children();
            var UnReviewQty = tdArr.eq(7).html().trim();//剩余复核数量
            if (UnReviewQty != "0") {
                //Message = "复核还没完全结束，是否确认复核该单据？";
                flag = 2;
                return false;
            }
        })
        if (flag == "2") {
            alert("复核还没完全结束，不能复核提交！");
        } else {
            if (confirm("复核全部结束，是否确认复核该单据？")) {
                var index = layer.load(1);
                $.ajax({
                    type: "POST",
                    url: "/Review/reviewpost?ErpVoucherNo=" + $("#ErpVoucherNo").html().trim(),
                    data: null,
                    success: function (data) {
                        alert(data.obj);
                        layer.close(index);
                    },
                    fail: function () {
                        alert("提交失败！");
                        layer.close(index);
                    }

                });
            }
        }
    })

</script> 