@using Web.WMS.Common;
@model BILWeb.Warehouse.T_WareHouseInfo
@{
    ViewBag.Title = "仓库新增";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var strMsg = (string)ViewData["strMsg"];
}


@using (Html.BeginForm("Add", "warehouse", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)
        <input name="isDel" value="1" type="hidden" />
        <table style="width:100%;margin:auto;" class="table table-bordered table-striped ">

            <tr>
                <td>
                    @Html.LabelFor(model => model.WareHouseNo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WareHouseNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WareHouseNo, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    @Html.LabelFor(model => model.LocationDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LocationDesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LocationDesc, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.WareHouseName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WareHouseName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WareHouseName, "", new { @class = "text-danger" })
                    </div>

                </td>
                <td>
                    @Html.LabelFor(model => model.WareHouseStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("WareHouseStatus", Commom.WarehouseStateList as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WareHouseStatus, "", new { @class = "text-danger" })
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ContactUser, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactUser, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactUser, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    @Html.LabelFor(model => model.AreaCount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AreaCount, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly " } })
                        @Html.ValidationMessageFor(model => model.AreaCount, "", new { @class = "text-danger" })
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ContactPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ContactPhone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ContactPhone, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>
                    @Html.LabelFor(model => model.AreaUsingCount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AreaUsingCount, new { htmlAttributes = new { @class = "form-control", @readOnly = "readOnly " } })
                        @Html.ValidationMessageFor(model => model.AreaUsingCount, "", new { @class = "text-danger" })
                    </div>

                </td>

            </tr>
            <tr>

                <td>
                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td></td>
            </tr>

        </table>
        <div class="form-group  col-md-10" style="padding-top:35px;">
            <div class="col-md-offset-1 col-md-10">
                <a href="javascript:history.go(-1);" class="btn btn-danger pull-left" style="margin-right:30px;">返回</a>    <input id="form1" type="submit" value="保 存" class="btn btn-primary pull-left" />
            </div>
        </div>

    </div>

}

@{Html.RenderAction("ErrorMsg", strMsg);}

<script>
    $(function () {
        $("#form1").ajaxForm(function (data) {
            alert("提交成功！");
        });
    });
</script>
