@using BILWeb.UserGroup;
@using BILBasic.Common;
@using Web.WMS.Common;
@model T_UserGroupInfo
@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageData<T_UserGroupInfo> pageData = (PageData<T_UserGroupInfo>)ViewData["PageData"];
    var errorMsg = ViewData["errorMsg"];

}
<script type="text/javascript">

    function deletedata() {
        //清空数据
        $("#MenuNo").val("");
        $("#MenuName").val("");
        $("#MenuAbbName").val("");
        $("#ProjectName").val("");
        $("#ParentName").val("");
        $("#NodeUrl").val("");
        $("#Description").val("");
        var typeOptionList = $("#MenuType").find("option")
        typeOptionList[0].selected = true;
        var statusOptionList = $("#MenuStatus").find("option")
        statusOptionList[0].selected = true;
    }

    var buttonType = "";
    //确定提交
    function form_Submit() {
        if (buttonType == "edit") {
            var data = {
                "MenuNo": $("#MenuNo").val(),
                "MenuName": $("#MenuName").val(),
                "MenuAbbName": $("#MenuAbbName").val(),
                "ProjectName": $("#ProjectName").val(),
                "ParentName": $("#ParentName").val(),
                "Description": $("#Description").val(),
                "MenuType": $("#MenuType").val(),
                "MenuStatus": $("#MenuStatus").val(),
                "NodeUrl": $("#NodeUrl").val(),
                "Id": $("#hiddeId").val(),
            }
            data = JSON.stringify(data)
            $.post("/UserGroup/SaveNode", { json: data }, function (data) {
                var istrue = data.state
                if (istrue) {
                    alert("修改成功")
                } else {
                    alert(data.obj);
                }
            })
        } else {
            var data = {
                "MenuName": $("#MenuName").val(),
                "MenuAbbName": $("#MenuAbbName").val(),
                "ProjectName": $("#ProjectName").val(),
                "ParentName": $("#ParentName").val(),
                "Description": $("#Description").val(),
                "MenuType": $("#MenuType").val(),
                "MenuStatus": $("#MenuStatus").val(),
                "NodeUrl": $("#NodeUrl").val(),
                "SafeLevel": 1,
                "IsDel": 1,
                "NodeLevel": $("#parentLevel").val(),
                "ParentID": $("#parentId").val()
            }
            data = JSON.stringify(data)
            $.post("/UserGroup/InsertNode", { json: data }, function (data) {
                var istrue = data.state
                if (istrue) {
                    alert("新增成功");
               
                } else {
                    alert(data.obj);
                }
            })
        }
        $('#compose-modal').modal('hide');
        editClick(methodid, null);
    }


    //点击事件
    function onbuttonClick(clickType) {
        buttonType = clickType;
        deletedata()
        if (isClick == "") {
            return false
        }
        var brr = $("#procitytree").treeview("getSelected");
        //获取所有选中的节点
        if (brr.length == 0) {
            $("#parentId").val("0");
            $("#parentLevel").val("1");
            $('#compose-modal').modal({ keyboard: false }, 'show');
            return false;
        }
        var id = parseInt(brr[0].tags.id);
        //level
        if (clickType == "add") {
            $("#parentId").val(brr[0].tags.id);
            $("#parentLevel").val(brr[0].tags.level + 1);
            $('#compose-modal').modal({ keyboard: false }, 'show');
        }
        if (clickType == "edit") {
            $.post("/UserGroup/GetModelByID", { "ID": id }, function (data) {
                if (data == undefined || data == null) {
                    alert("查询信息失败！")
                } else {
                    data = data.obj;
                    //显示模态框
                    $('#compose-modal').modal({ keyboard: false }, 'show');
                    $("#hiddeId").val(id);
                    $("#MenuNo").val(data.MenuNo);
                    $("#MenuName").val(data.MenuName);
                    $("#MenuAbbName").val(data.MenuAbbName);
                    $("#ProjectName").val(data.ProjectName);
                    $("#ParentName").val(data.ParentName);
                    $("#NodeUrl").val(data.NodeUrl);
                    $("#Description").val(data.Description);
                    var typeOptionList = $("#MenuType").find("option")
                    var statusOptionList = $("#MenuStatus").find("option")
                    for (var i = 1; i <= typeOptionList.length; i++) {
                        if (i == data.MenuType) {
                            typeOptionList[i-1].selected = true;
                        }
                    }
                    for (var j = 1; j <= statusOptionList.length; j++) {
                        if (j == data.MenuStatus) {
                            statusOptionList[j-1].selected = true;
                        }
                    }

                }
            });
        }
    }


    //当前选中的权限菜单id
    var methodid = "";

    var isClick = "";

    ////编辑
    function editClick(methodId, nodeId) {
        isClick = "true"
        methodid = methodId;
        $.post("/UserGroup/InitMenu", { "UserGroupID": methodId }, function (data) {
            var arr = data.obj;
            $("#procitytree").treeview({
                data: data.obj,
                leves: 1,
                showCheckbox: true,
                color: "#000000",
                onNodeChecked: nodeChecked,
                onNodeUnchecked: nodeUnchecked,

            })
        })
        if (nodeId != "" && nodeId != null) {
            $("#procitytree").treeview("selectNode", [nodeId, { silent: true }]);
        }

    }
    //var nodeCheckedSilent = false;

    ////是否报错
    var isError = false;

    ////节点选中
    function nodeChecked(event, node) {
        if (isError) {
            isError = false;
            return;
        }
        var nodeid = node.tags.id;
        var istrue = false
        $.post("/UserGroup/saveMenu", { "UserGroupID": methodid, "MenuId": nodeid, "isTrue": true }, function (data) {
            istrue = data.state;
            if (istrue) {
                alert("修改成功")
                editClick(methodid, node.nodeId);
            } else {
                alert("修改权限出错，请重新修改")
                isError = true;
                // 操作取消
                $('#procitytree').treeview('toggleNodeChecked', [node.nodeId, { silent: false }]);
            }
        });
    }

    //var nodeUncheckedSilent = false;

    ////节点取消
    function nodeUnchecked(event, node) {
       
        if (isError) {
            isError = false;
            return;
        }
        var nodeid = node.tags.id;
        var istrue = false
        $.post("/UserGroup/saveMenu", { "UserGroupID": methodid, "MenuId": nodeid, "isTrue": false }, function (data) {
            istrue = data.state;
            if (istrue) {
                editClick(methodid, node.nodeId);
            } else {
                isError = true;
                //操作取消
                $('#procitytree').treeview('toggleNodeChecked', [node.nodeId, { silent: true }]);
            }
        });
    }

    $(function () {
        //Money Euro
        $("[data-mask]").inputmask();
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal',
            radioClass: 'iradio_minimal'
        });
    });

</script>

<head>
    <meta charset="UTF-8">
    <title>权限组管理</title>
    <style>
        .textLeft {
            text-align: center;
        }
    </style>
</head>
<body class="skin-blue">
    @{Html.RenderPartial("~/Views/Shared/_ViewButtom.cshtml");}
    <div class="box">
        <div class="col-md-6">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>选择</th>
                            <th>@Html.DisplayNameFor(model => model.UserGroupName)</th>
                            <th>编辑</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (pageData.data != null)
                            {
                                foreach (T_UserGroupInfo t_UserGroupInfo in pageData.data)
                                {
                                    <tr>
                                        <td><input type="checkbox" class="minimal" /></td>
                                        <td>@t_UserGroupInfo.UserGroupName</td>
                                        <td>
                                            <a class="aaa" onclick="editClick(@t_UserGroupInfo.ID)">编辑</a>
                                            <label hidden>@t_UserGroupInfo.UserGroupNo</label>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6" align="center"><b>无查询数据</b></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <input type="button" onclick="onbuttonClick('add')" value="新增子节点" class="btn btn-primary " data-target="#compose-modal" />
                <input type="button" onclick="onbuttonClick('edit')" value="修改子节点" class="btn btn-primary "  />
                <div id="searchTree" style="padding-top: 10px;">
                    <div id="procitytree" style="height: 100%;overflow-y :scroll;"></div>
                </div>
            </div>
        </div>
        @*<div>


            </div>*@
        <!-- /.box-body -->
    </div>
    <div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop='static'>
        <div class="modal-dialog" style="width:50%;">
            <div class="modal-content">
                <form id="userfrom">
                    <div class="modal-body">
                        <div class="form-group">
                            <table class="table table-bordered table-striped ">
                                <tbody>
                                    <tr>
                                        <th class="textLeft">菜单编码</th>
                                        <th><input type="text" class="form-control" readonly="readonly" id="MenuNo" name="MenuNo"></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">菜单名称</th>
                                        <th><input type="text" class="form-control" id="MenuName" name="MenuName"></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">菜单简称</th>
                                        <th><input type="text" class="form-control" name="MenuAbbName" id="MenuAbbName"></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">节点名称</th>
                                        <th><input type="text" class="form-control" name="ProjectName" id="ProjectName"></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">菜单类型</th>
                                        <th>
                                            <div class="dropdown">
                                                @Html.DropDownList("MenuType", Commom.GetList("cbxMenuType") as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">上级菜单</th>
                                        <th><input type="text" class="form-control" id="ParentName" name="ParentName"></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">菜单路径</th>
                                        <th><input type="text" class="form-control" id="NodeUrl" name="NodeUrl"></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">菜单描述</th>
                                        <th> <textarea class="form-control" rows="3" id="Description" name="Description"></textarea></th>
                                    </tr>
                                    <tr>
                                        <th class="textLeft">菜单状态</th>
                                        <th>
                                            <div class="dropdown">
                                                @Html.DropDownList("MenuStatus", Commom.GetList("cbxMenuStatus") as IEnumerable<SelectListItem>, new { htmlAttributes = new { @class = "form-control" } })
                                            </div>
                                        </th>
                                    </tr>

                                </tbody>
                                <tbody id="detailTable"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer clearfix">
                        <label style="display:none" id="hiddeId"></label>
                        <label style="display:none" id="parentId"></label>
                        <label style="display:none" id="parentLevel"></label>
                        <button type="button" class="btn bg-olive" onclick="form_Submit()">保存</button>
                        <button type="button" class="btn btn-google-plus" data-dismiss="modal"><i class="fa fa-times"></i> 关闭</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div>
    </div>
    </body>

<script src="~/Content/SCG/js/Common/Operate.js"></script>
