@using BILBasic.Common;
@using BILWeb.House;
@model T_HouseInfo
@{
    ViewBag.Title = "库位管理";
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    PageData<T_HouseInfo> pageData = (PageData<T_HouseInfo>)ViewData["PageData"];
}

<script type="text/javascript">
    function DeleteByModel(ID) {
        if (confirm("确定删除数据这条数据?")) {
            $.ajax({
                type: "get",
                url: "DeleteBymodel?ID=" + ID,
                method: "POST",
                dataType: "json",
                async: false,
                success: function (data) {
                    if (data == "") {
                        if (data == "") {
                            window.location.reload()
                        } else {
                            alert(data);
                        }
                    }
                }
            });
        }
    }
</script>
<head>
</head>
<body>

    <div class="box">
        <div class="layui-card-body layui-table-body layui-table-main">
            <form action="/House/GetModelList" method="post">
                <div class="layui-card-body ">
                    <div class="layui-inline layui-show-xs-block">
                        @Html.EditorFor(model => model.WarehouseNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "仓库" } })
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        @Html.EditorFor(model => model.HouseNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "库区" } })
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <button type="submit" class="btn btn-primary" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </form>
            @{Html.RenderPartial("~/Views/Shared/_ViewButtom.cshtml");}
            <table class="layui-table layui-form">
                <thead>
                    <tr>
                        @*<th>选择</th>*@
                        <th>@Html.DisplayNameFor(model => model.WarehouseNo)</th>
                        <th>@Html.DisplayNameFor(model => model.HouseNo)</th>
                        <th>@Html.DisplayNameFor(model => model.HouseName)</th>
                        <th>@Html.DisplayNameFor(model => model.StrHouseType)</th>
                        <th>@Html.DisplayNameFor(model => model.StrHouseStatus)</th>
                        <th>@Html.DisplayNameFor(model => model.StrHouseProp)</th>
                        <th>@Html.DisplayNameFor(model => model.ContactUser)</th>
                        <th>@Html.DisplayNameFor(model => model.ContactPhone)</th>
                        @*<th>@Html.DisplayNameFor(model => model.Address)</th>
        <th>@Html.DisplayNameFor(model => model.LocationDesc)</th>*@
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (pageData.data != null && pageData.data.Count != 0)
                        {
                            foreach (T_HouseInfo t_HouseInfo in pageData.data)
                            {
                                        <tr>
                                            @*<td><input type="checkbox" value="@t_HouseInfo.ID" class="minimal" /></td>*@
                                            <td>@t_HouseInfo.WarehouseNo</td>
                                            <td>@t_HouseInfo.HouseNo</td>
                                            <td>@t_HouseInfo.HouseName</td>
                                            <td>@t_HouseInfo.StrHouseType</td>
                                            <td>@t_HouseInfo.StrHouseStatus</td>
                                            <td>@t_HouseInfo.StrHouseProp</td>
                                            <td>@t_HouseInfo.ContactUser</td>
                                            <td>@t_HouseInfo.ContactPhone</td>

                                            @*<td>@t_HouseInfo.Address</td>
        <td>@t_HouseInfo.LocationDesc</td>*@

                                            <td>
                                                <a title="编辑" href="/house/getmodel?ID=@t_HouseInfo.ID">
                                                    <i class="layui-icon">&#xe642;</i>
                                                </a>
                                                @*<a title="删除" onclick="DeleteByModel(@t_HouseInfo.ID)">
                <i class="layui-icon">&#xe640;</i>
            </a>*@
                                            </td>

                                        </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9" align="center"><b>无数据</b></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @{Html.RenderAction("PageView", pageData);}
        </div>
    </div>
    </body>
        <script src="~/Content/SCG/js/Common/Operate.js"></script>

