@using BILBasic.Common;
@using BILWeb.LandMark;
@model T_LandMarkWithTaskInfo
@{
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    PageData<T_LandMarkWithTaskInfo> pageData = (PageData<T_LandMarkWithTaskInfo>)ViewData["PageData"];

}

<div class="box">
    <div class="layui-card-body layui-table-body layui-table-main">
        <form action="/Landmarkwithtask/GetModelList" method="post">
            <div class="layui-card-body ">
                <div class="layui-inline layui-show-xs-block">
                    @Html.EditorFor(model => model.landmarkno, new { htmlAttributes = new { @class = "form-control", @placeholder = "地标号" } })
                </div>
                <div class="layui-inline layui-show-xs-block">
                    @Html.EditorFor(model => model.CarNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "小车号" } })
                </div>
                <div class="layui-inline layui-show-xs-block">
                    @Html.EditorFor(model => model.TaskNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "任务号" } })
                </div>
                <div class="layui-inline layui-show-xs-block">
                    @Html.EditorFor(model => model.ErpVoucherNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "ERP单号" } })
                </div>
                <div class="layui-inline layui-show-xs-block">
                    <button type="submit" class="btn btn-primary" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                </div>
            </div>
        </form>
        @{Html.RenderPartial("~/Views/Shared/_ViewButtom.cshtml");}
        <table class="layui-table layui-form">
            <thead>
                <tr>
                    @*<th>选择</th>*@
                    <th>@Html.DisplayNameFor(model => model.landmarkno)</th>
                    <th>@Html.DisplayNameFor(model => model.CarNo)</th>
                    <th>@Html.DisplayNameFor(model => model.TaskNo)</th>
                    <th>@Html.DisplayNameFor(model => model.ErpVoucherNo)</th>
                    @*<th>编辑</th>*@
                </tr>
            </thead>
            <tbody>
                @{
                    if (pageData.data != null && pageData.data.Count != 0)
                    {
                        foreach (T_LandMarkWithTaskInfo t_MaterialInfo in pageData.data)
                        {
                            <tr>

                                @*<td>
                                        <label>
                                            <input type="checkbox" class="minimal" value="@t_MaterialInfo.ID" />
                                        </label>
                                    </td>*@
                                <td>@t_MaterialInfo.landmarkno</td>
                                <td>@t_MaterialInfo.CarNo</td>
                                <td>@t_MaterialInfo.TaskNo</td>
                                <td>@t_MaterialInfo.ErpVoucherNo</td>
                                @*<td>

                                    <a title="编辑" href="/material/getmodel?ID=@t_MaterialInfo.ID">
                                        <i class="layui-icon">&#xe642;</i>
                                    </a>
                                </td>*@
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="13" align="center"><b>无查询数据</b></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
        @{Html.RenderAction("PageView", pageData);}
    </div>
</div>

<script src="~/Content/SCG/js/Common/Operate.js"></script>

