@using Web.WMS.Common;
@model BILWeb.BaseInfo.T_System
@using BILWeb.BaseInfo;
@{
    ViewBag.Title = "系统设置";
    Layout = "~/Views/Shared/_Layout.cshtml";

    T_System tmodel = Commom.getSystem();
}
<form action="/Manage/Add" method="post" id="userForm" enctype="multipart/form-data" >
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
       <input  type="hidden" value="@ViewData["isSuccess"]" id="displayValue"/>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <table id="example1" class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <td>
                            @Html.LabelFor(model => model.companyname, htmlAttributes: new { @class = "control-label col-md-10" })
                    </td>
                    <td>
                            @Html.EditorFor(model => model.companyname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.companyname, "", new { @class = "text-danger" })
                       
                    </td>
                </tr>
                <tr>
                    <td>
                            @Html.LabelFor(model => model.filepath, htmlAttributes: new { @class = "control-label col-md-10" })
                    </td>
                    <td>
                            <input type="file" name="file" id="fileLoad"  accept="image/jpeg,image/jpg,image/png"/>
                    </td>
                </tr>
                <tr >
                    <td rowspan="3">
                            <label class="control-label col-md-10">当前图片展示</label>
                        
                    </td>
                    <td rowspan="3">
                            <img src="~/Upload/@Html.Raw(@tmodel.filepath)" id="userimg"  style="width:100px;height:100px" />
                    </td>

                </tr>
            </tbody>
        </table>


        <div class="form-group  col-md-10" style="padding-top:35px;">
            <div class="col-md-offset-1 col-md-10">
                <input id="form1"  type="submit" value="提 交" class="btn btn-primary pull-left" style="width:100px"  />
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        var issuccess = $("#displayValue").val();
        if (issuccess == "true")
            alert("保持成功");
        if (issuccess == "false")
            alert("保持失败");
        //图片显示
        $("#fileLoad").change(function () {
            var $file = $(this);
            var fileObj = $file[0];
            var windowURL = window.URL || window.webkitURL;
            var dataURL;
            var $img = $("#userimg");
            if (fileObj && fileObj.files && fileObj.files[0]) {
                dataURL = windowURL.createObjectURL(fileObj.files[0]);
                $img.attr('src', dataURL);
            } else {
                dataURL = $file.val();
                var imgObj = document.getElementById("preview");
                imgObj.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
                imgObj.filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = dataURL;
            }
        })


    })
    //数据提交
    //function ajaxSubmitForm() {
    //    var option = {
    //        url: '${pageContext.request.contextPath}/Manage/Add',
    //        type: 'POST',
    //        dataType: 'json',
    //        headers: { "ClientCallMode": "ajax" }, //添加请求头部
    //        success: function (data) {
    //            if (data.state) {
    //                alert("保持成功")
    //            } else {
    //                alert("保持失败")
    //            }
    //        },
    //        error: function (data) {
    //            alert("界面出错,请联系管理员！");
    //        }
    //    };
    //    $("#userForm").(option);
    //    return false; //阻止表单再次提交
    //}

</script>



