@using BILBasic.Common;
@using BILWeb.YS;

@model T_YSDetailInfo
@{
    Layout = "~/Views/Shared/_LayoutLayui.cshtml";
    PageData<T_YSDetailInfo> pageData = (PageData<T_YSDetailInfo>)ViewData["PageData"];
    var printIP = System.Web.HttpContext.Current.Session["printIP"];
}

<body>
    <input type="hidden" id="printIP" value="@printIP" />
    <div class="box">
        <div class="layui-card-body layui-table-body layui-table-main">
            <form action="/printYS/GetModelList" method="post">
                <div class="layui-card-body ">
                    <div class="layui-inline layui-show-xs-block">
                        @Html.EditorFor(model => model.ErpVoucherNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "ERP单号" } })
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        @Html.EditorFor(model => model.MaterialNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "物料号" } })
                    </div>
                    <div class="layui-inline layui-show-xs-block">
                        <button type="submit" class="btn btn-primary" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    </div>
                </div>
            </form>
            @{Html.RenderPartial("~/Views/Shared/_ViewButtom.cshtml");}
            <table class="layui-table layui-form">
                <thead>
                    <tr>
                        <th style="display:none">选择</th>
                        <th>@Html.DisplayNameFor(model => model.ErpVoucherNo)</th>
                        <th>@Html.DisplayNameFor(model => model.MaterialNo)</th>
                        <th>@Html.DisplayNameFor(model => model.MaterialDesc)</th>
                        @*<th>@Html.DisplayNameFor(model => model.BatchNo)</th>
                            <th>@Html.DisplayNameFor(model => model.EDate)</th>*@
                        <th>@Html.DisplayNameFor(model => model.InStockQty)</th>
                        <th>@Html.DisplayNameFor(model => model.ReceiveQty)</th>
                        <th>@Html.DisplayNameFor(model => model.RemainQty)</th>
                        <th>打印</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        if (pageData.data != null && pageData.data.Count != 0)
                        {
                            foreach (T_YSDetailInfo row in pageData.data)
                            {
                                <tr>
                                    <td style="display:none"><input type="checkbox" value="@row.ID" class="minimal" /></td>
                                    <td>@row.ErpVoucherNo</td>
                                    <td>@row.MaterialNo</td>
                                    <td>@row.MaterialDesc</td>
                                    @*<td>@row.BatchNo</td>
                                        <td>@row.EDate</td>*@
                                    <td>@row.InStockQty</td>
                                    <td>@row.ReceiveQty</td>
                                    <td>@row.RemainQty</td>
                                    <td style="display:none;">@row.RowNo</td>
                                    <td style="display:none;">@row.RowNoDel</td>
                                    <td style="display:none;">@row.MaterialNoID</td>
                                    <td style="display:none;">@row.StrongHoldCode</td>
                                    <td style="display:none;">@row.CompanyCode</td>
                                    <td style="display:none;">@row.FromBatchNo</td>
                                    <td style="display:none;">@row.EDate</td>
                                    <td style="display:none;">@row.VoucherType</td>
                                    <td style="display:none;">@row.TracNo</td>
                                    <td style="display:none;">@row.ProjectNo</td>
                                    <td>@{if (row.InStockQty > 0)
                                        { <a class="PrintIn"><i class="fa fa-print"></i></a>}
                                    } </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="10" align="center"><b>无查询数据</b></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @{Html.RenderAction("PageView", pageData);}
        </div>
    </div>

    <div class="modal fade" id="compose-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-print"></i>入库单标签打印</h4>
                </div>
                <form action="#" method="post">
                    <div class="modal-body">

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">订单号:</span>
                                <input id="erpvoucherno" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">物料号:</span>
                                <input id="materialno" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">物料名:</span>
                                <input id="materialdesc" class="form-control" readonly="readonly">
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">ENA号:</span>
                                    <input id="ean"  class="form-control" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">有效期:</span>
                                    <input id="edate" class="form-control laydateX">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon">批次号:</span>
                                    <input id="batch" class="form-control">
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">收货数:</span>
                                <input id="num" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">装箱量:</span>
                                <input id="everynum" class="form-control">
                            </div>
                        </div>
                        <input id="RowNO" style="display:none;">
                        <input id="RowNODel" style="display:none;">
                        <input id="MaterialNoID" style="display:none;">
                        <input id="StrongHoldCode" style="display:none;">
                        <input id="CompanyCode" style="display:none;">
                        <input id="TracNo" style="display:none;">
                        <input id="ProjectNo" style="display:none;">
                    </div>
                    <div class="modal-footer clearfix">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i>关闭</button>
                        <a id="print" class="btn btn-primary pull-left"><i class="fa fa-print"></i>打印</a>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</body>

<script>
    $('.PrintIn').click(function () {
        $("#batch").attr("disabled", false);
        $("#edate").attr("disabled", false);
        $("#ean").attr("disabled", false);

        $('#compose-modal').modal({ keyboard: false }, 'show');
        var tds = $(this).parent().parent().find("td");
        $("#erpvoucherno").val(tds.eq(1).html());
        $("#materialno").val(tds.eq(2).html());
        $("#materialdesc").val(tds.eq(3).html());
        //$("#ean").val(tds.eq(4).html());
        $("#num").val(tds.eq(6).html());
        $("#everynum").val(tds.eq(6).html());
        $("#RowNO").val(tds.eq(7).html());
        $("#RowNODel").val(tds.eq(8).html());
        $("#MaterialNoID").val(tds.eq(9).html());
        $("#StrongHoldCode").val(tds.eq(10).html());
        $("#CompanyCode").val(tds.eq(11).html());
        $("#TracNo").val(tds.eq(15).html());
        $("#ProjectNo").val(tds.eq(16).html());

        //销售退货单 27
        //杂入 28
        //调拨入库单 33
        //批次和效期
        //var vouchertype = tds.eq(14).html();
        //if (vouchertype == "27" || vouchertype == "28" || vouchertype == "33") {
        //    $("#batch").val(tds.eq(12).html());
        //    $("#edate").val(tds.eq(13).html());
        //}
        //if (vouchertype == "28" || vouchertype == "33") {
        //    $("#batch").attr("disabled", "disabled");
        //}
        //if (vouchertype == "27" && $("#batch").val().trim() != "") {
        //    $("#batch").attr("disabled", "disabled");
        //}
        //if (vouchertype == "28" || vouchertype == "33") {
        //    $("#edate").attr("disabled", "disabled");
        //}


        //根据物料号获EAN码
        //$.ajax({
        //    type: "Post",
        //    url: "/PrintInStock/GetEAN",
        //    data: {
        //        materialno: $("#materialno").val()
        //    },
        //    success: function (msg) {
        //        if (msg.state) {
        //            $("#ean").val(msg.obj);
        //        }
        //        else {
        //            alert("EAN获取失败！");
        //        }
        //    },
        //    fail: function () {
        //        alert("提交失败！")
        //    }
        //});

    })

    $('#print').click(function () {
        try {
            if ($("#num").val().trim() == "" || $("#num").val().trim() == "0" || $("#everynum").val().trim() == "" || $("#everynum").val().trim() == "0") {
                alert("打印量和包装量不能为空或者0");
                return;
            }
            if (parseFloat($("#num").val()) < parseFloat($("#everynum").val())) {
                alert("打印量不能少于包装量");
                return;
            }

            $.ajax({
                type: "Post",
                url: "/PrintIn/SaveBarcode",
                dataType: "json",
                data: {
                    erpvoucherno: $("#erpvoucherno").val(),
                    materialno: $("#materialno").val(),
                    materialdesc: $("#materialdesc").val(),
                    ean: $("#ean").val(),
                    batch: $("#batch").val(),
                    edate: $("#edate").val(),
                    num: $("#num").val(),
                    everynum: $("#everynum").val(),
                    receivetime: "",
                    RowNO: $("#RowNO").val(),
                    RowNODel: $("#RowNODel").val(),
                    MaterialNoID: $("#MaterialNoID").val(),
                    StrongHoldCode: $("#StrongHoldCode").val(),
                    CompanyCode: $("#CompanyCode").val(),
                    TracNo: $("#TracNo").val(),
                    ProjectNo: $("#ProjectNo").val(),
                    flag: 1
                },
                success: function (msg) {
                    if (msg.state) {
                        //window.open($("#printIP").val() + "Main.aspx?flag=In&parameter1=" + msg.obj);

                        if (msg.obj != null && msg.obj != "") {
                            window.open($("#printIP").val() + "Main.aspx?flag=InT&parameter1=" + msg.obj);
                        }

                        if (msg.objS != null && msg.objS != "") {
                            window.open($("#printIP").val() + "Main.aspx?flag=InST&parameter1=" + msg.objS);
                        }

                        $('#compose-modal').modal('hide');
                    }
                    else {
                        alert(msg.obj);
                    }
                },
                fail: function () {
                    alert("提交失败！")
                }
            });
        } catch (Exception) {
            alert(Exception);
        }


    })

    //$(".dayin").click(function () {
    //    var IDs = "";
    //    if (confirm("确定打印这" + $('input[type=checkbox]:checked').length + "条记录?")) {
    //        $.each($('input:checkbox:checked'), function () {
    //            IDs = (IDs + $(this).val() + ",");
    //        });
    //        $.ajax({
    //            type: "Post",
    //            url: "/PrintIn/PrintList",
    //            data: {
    //                IDs: IDs
    //            },
    //            success: function (msg) {
    //                if (msg.state) {
    //                    //alert(msg.obj);
    //                    //if (msg.obj != null && msg.obj != "") {
    //                    //    window.open($("#printIP").val() + "Main.aspx?flag=InT&parameter1=" + msg.obj);
    //                    //}
                     
    //                    //if (msg.obj != null && msg.obj != "") {
    //                    //    window.open($("#printIP").val() + "Main.aspx?flag=InST&parameter1=" + msg.objS);
    //                    //}

    //                    if (msg.obj != null && msg.obj != "") {
    //                        window.open($("#printIP").val() + "Main.aspx?flag=InT&parameter1=" + msg.obj);
    //                    }

    //                    if (msg.objS != null && msg.objS != "") {
    //                        window.open($("#printIP").val() + "Main.aspx?flag=InST&parameter1=" + msg.objS);
    //                    }

    //                    //var newA = document.createElement("a");
    //                    //newA.id = 'gg'
    //                    //newA.target = '_blank';
    //                    //var aaa = $("#printIP").val() + "Main.aspx?flag=In&parameter1=" + msg.obj;
    //                    //alert(aaa);
    //                    //newA.href = aaa;
    //                    //document.body.appendChild(newA);
    //                    //newA.click();
    //                    //document.body.removeChild(newA);
    //                    //PrintNownumbera.val("");
    //                    //Bnumberaa.val("");
    //                    //Barcodenumbera.html("");
    //                }
    //                else {
    //                    alert(msg.obj);
    //                }
    //            },
    //            fail: function () {
    //                alert("提交失败！")
    //            }
    //        });
    //    }
    //})


    $("#batch").click(function () {
        $.ajax({
            type: "Get",
            url: "/PrintInstock/GetT_MaterialPackADF",
            data: {
                edate: $("#edate").val(),
                materialno: $("#materialno").val()
            },
            success: function (msg) {
                if (msg.state) {
                    $("#batch").val(msg.obj)
                }
                else {
                    alert(msg);
                }
            },
            fail: function () {
                alert("提交失败！")
            }
        });
    })
</script>

